# Backend API server
NEXT_PUBLIC_API_SERVER_URL=<TODO>

# Analytics
NEXT_PUBLIC_GOOGLE_ANALYTICS=DISABLED
NEXT_PUBLIC_FACEBOOK_PIXEL_ID=DISABLED

# reCAPTCHA v3 (get keys from https://www.google.com/recaptcha/admin)
NEXT_PUBLIC_GOOGLE_CAPTCHA_SITE_KEY=<TODO>

# Signup with Slack
NEXT_PUBLIC_SLACK_SIGNUP_LINK=<TODO>